#exemplu {
    display: block;
    width: 100px;
    height: auto;
    max-width: 100%;
    margin: 10px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr {
    display: block;
    /* break row into blocks */
}

table td {
    display: block;
    /* each cell becomes full-width */
    width: 100%;
    /* take all width */
}
#scrollTopBtn {
    display: block;
  }